<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalog</title>
</head>
<body>
  {{#each catalog}}
  <div class = 'product'>
  <h1>Index.HBS</h1>
    <h3>Product: {{name}}</h3>
    <p>Price: ${{price}}</p>
    <p>Inventory: {{inventory}}</p>
    <p>ID: {{id}}</p>
  </div>
  {{/each}}
</body>
</html>