<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
<h1>New Product (new.hbs)</h1>
<h1>{{error}}</h1>
   <form method="POST" action="/products" enctype="application/json">
    <input type="text" name= "name" value= 'Product Name'>
    <input type="text" name= "price" value= 'Price'>
    <input type="text" name= "inventory" value= 'Inventory'>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>