<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <div class="product">
    <h2>product: {{name}}</h2>
    <p>price: {{price}}</p>
    <p>inventory: {{inventory}}</p>
    <p>id: {{id}}</p>
  </div>
</body>
</html>